<div class="container m-5">
  <div class="card m-5 p-5">
  <h3 class="mb-4">Change the article : <%= @article.title %> 🥰</h3>
    <%= form_with model: @article do |f| %>
        <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :content %>
          <%= f.text_field :content %>
          <%= f.submit "Create", class:"btn btn-primary"%>
        <% end %>
  </div>
</div>
