  <div class="container m-5">
    <%= link_to "Retour à la liste", articles_path, class:"btn btn-primary text-deco-none" %>
    <div class="card m-5 p-4">
    <h1><%= @article.title %></h1>
    <p><%= @article.content %></p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <%= link_to "Delete", article_path(@article), data:{turbo_method: :delete, turbo_confirm:'Are you sure?'}, class:"btn btn-danger text-deco-none"%>
    <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-primary text-deco-none" %>
    </div>
  </div>
</div>
