  <div class="container">
    <button type="button" class=" btn btn-outline-primary mg-10"><%= link_to "Retour à la liste", articles_path %></button>
    <h1><%= @article.title %></h1>


    <p><%= @article.content %></p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-outline-danger"><%= link_to "Delete", article_path(@article), data:{turbo_method: :delete, turbo_confirm:'Are you sure?'}%></button>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_article_path(@article) %></button>
    <div>
</div>
